- flash.each do |alert_type, value|
  - alert_type = alert_type == 'notice' ? 'info' : 'danger'
  - if alert_type == 'danger'
    .alert.alert-danger
      %ul
        - value.each do |msg|
          %li
            = msg
  - else
    .alert.alert-info
      = value


